
      *{ margin:0 ;
    padding:0 ;
    box-sizing: border-box;}
    
.center{display: flex;
    justify-content: center;
    align-items: center;}
    
body {background: /*linear-gradient(#D1D4FF     ,#FFD1E4,#FFD1D1)*/whitesmoke;}


body .main{background: /*linear-gradient(#D1D4FF,#FFD1E4,#FFD1D1)*/whitesmoke;
    height: 500vh; width: 100vw;
    /* border: 10px solid blue;*/}
          
body div section ol a{text-decoration: none;}

body div section ol a li{font-size: 17px;
    margin: 20px 0px 0px 10px;
    color: black;
    margin-left: 40px}

.closeMenu{background: #080808;
    height: 40px;
    width:30%;
    color: #F4CE3F;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 4px;
    position: relative;
    top:4px;
    margin: auto;
    box-shadow: 3px 3px 7px black;}

.subject{
    height: 60px;
    width:90%;
    background: #080808;
    color: #F4CE3F;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 4px;
    position: relative;
    left:20px;
    margin:10px 0px 10px 0px;
    box-shadow: 3px 3px 7px black;}





@media only screen and (max-width: 600px){
    
.hiddenzero{
    visibility: hidden;
    height: 0px;
}


    
    

    
}
